html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;

    background-color: #ff7835;
    color: #fff;
}

header .user-profile{
    margin: 10px 20px 10px 20px;
    font-size: 23px;
    display: flex;
}

header .user-profile i{
    font-size: 35px;
}

header .user-profile .name-email{
    font-size: 12px;
    margin-left: 10px;
}

header .user-profile .name-email .name{
    margin-top: -2px;
}

header .user-profile .name-email .gmail{
    margin-top: -21px;
}

header .judul{
    margin: 12px 40px;
    font-size: 25px;
}

header .history-button button{
    margin: 12px 28px;
    border: 1px solid #fff;
    background-color: #ff7835;
    color: #fff;
    padding: 5px 20px;
    border-radius: 10px;
    /* font-weight: 550; */
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

header .history-button button:hover{
    background-color: #fff;
    color: #ff7835;
    transition: all 0.3s ease-in-out;
}

/* ============================================================================= */

.sidebar-main{
    background-color: black;
    /* padding: 21% 85px; */
    /* margin-top: 10px; */
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* gap: 40px; */
}

/* ============================================================================= */

.sidebar{
    position: fixed;
    top: 60px;
    right: 0px;
    background-color: #272734;
    color: #fff;
    padding: 10px 20px 20px 20px;
    width: 15%;
    min-height: 700px;
}

.sidebar h3{
    padding-top: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.sidebar ul{
    margin-top: 10px;
}

.sidebar ul a{
    text-decoration: none;
}

.sidebar ul li{
    margin: 10px 0 10px -30px;
    padding: 10px 10px 0px 10px;
    /* background-color: #deebee; */
    list-style: none;
    color: #fff;
}

.sidebar ul li:hover{
    background-color: #ff7835;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.sidebar ul li i{
    font-size: 20px; 
    position: absolute;
    z-index: 1;
}

.sidebar ul li span{
    padding-left: 40px;
}

.sidebar .separator{
    width: 100%;
    height: 0.5px;
    background-color: black;
}

.sidebar .category-quantity{
    display: flex;
    justify-content: space-between;
}

.sidebar .category-quantity span:last-child {
    background-color: #ff7835;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    margin-top: -10px;
}

.sidebar ul .logout{
    padding: 10px 80px 10px 10px;
    border: none;
    color: #fff;
    background-color: #272734;
    margin-left: -30px;
}

.sidebar ul .logout:hover{
    background-color: #ff7835;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.sidebar ul .logout i{
    position: absolute;
    z-index: 1;
    margin-top: 1px;
    font-size: 20px; 
}

.sidebar ul .logout span{
    padding-left: 40px;
}


/* ============================================================================= */

.main{
    margin-right: 15%;
    background-color:#eeeeee;
    color: #27274f;
    padding: 20px 20px 20px 5px;
    width: 85%;
    height: 100%; 
    box-sizing: border-box;
    min-height: 661px;
}

.main h1{
    padding-left: 20px;
}

.main .separator{
    margin: 15px 0 20px 20px;
    width: 97%;
    height: 1px;
    background-color: black;
}

.main .table-box{
    margin: 25px 20px 20px 20px;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
}

/* ============================================================================= */

.main .table-box .list-create{
    display: flex;
    justify-content: space-between;
}

.main .table-box .list-create .list-voucher{
    margin-bottom: 10px;
}

.main .table-box .list-create button{
    font-size: 12px;
    padding: 6px 8px;
    border-radius: 5px;
    background-color: #0d6efd;
    border: none;
    color: white;
}

.main .table-box .list-create button:hover{
    background-color: #0a58ca;
}

.button-container {
    display: flex;
    /* justify-content: space-between; */
}

/* ============================================================================= */


th:nth-child(1) {
    width: 50%;
}
th:nth-child(2) {
    width: 15%;
}
th:nth-child(3) {
    width: 20%;
}
th:nth-child(4) {
    width: 13%;
}

 tr td button{
    font-size: 10px !important;
 }

td img{
    width: 7%;
}

table .edit{
    padding: 6px 13px;
    margin-right: 5px;
    background-color: rgb(0, 175, 0);
    border-radius: 5px;
    color: #fff;
    border: 1px solid transparent;
}

table .edit:hover{
    background-color: green;
}

table .delete{
    padding: 6px 13px;
    background-color: red;
    border-radius: 5px;
    color: #fff;
    border: 1px solid transparent;
}

table .delete:hover{
    background-color: rgb(225, 0, 0);
}

table .foto{
    border-right: none;
}
